@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap");

/* 모든 페이지에 공통으로 적용되는 서식 */
:root{
  --t-color01:#333;
  --t-color02:#fff;
  --t-color03:#066aad;
  --bg-color01:#006eff;
  --bg-color02:#212772;
  --bg-color03:#fff;
}
body {
  background:var(--bg-color03);
  font-family: 'Noto Sans KR', '맑은 고딕', sans-serif;
  font-size: 12px;
  color: var(--t-color01);
  overflow-x:hidden;
}
a{
  color:var(--t-color01);
  text-decoration:none;
  font-size:12px;
}
