@charset "utf-8";

*{margin:0px;padding:0px;}
ul,li, ol{list-style:none;}
body{
  font-family: "맑은 고딕",arial, sans-serif;
  font-size:12px;
  color:#333;
  overflow-x: hidden;
}
a{
  color:#333;
  text-decoration:none;
}
#wrap{
  width:100%;
  position:absolute;
  right:0px;
	transition:0.5s; /* 시간속성 */
}
header{
  width:100%;height:80px;
  background:#ffe6ee;
  position:relative;
}
header > h1{
  text-align:center;
}
header > h1 img{
  width:120px;padding-top:10px;
}
#toggle{
  position:fixed;
  right:10px;top:12px;
  width:50px;cursor:pointer;
  padding:12px 10px 10px 10px;
  z-index:9999;
  text-align:center;
  line-height:14px;
}
#toggle > span{
  display:inline-block;
  background-color:#EF426F;
  width:40px;height:4px;
  transition:0.3s;
}
/* 토글버튼에 들어갈 서식 */
.act01{
  transform:rotate(45deg);
  background:#fff !important;
  position:absolute;top:26px;right:13px;
}
.act02{
  display:none !important;
}
.act03{
  transform:rotate(-45deg);
  background:#fff !important;
  position:absolute;top:26px;right:13px;
}

/*	내비게이션 서식 */
.gnb{
  width:80%;height:100%;
  background-color:rgba(214,66,66,0.7);
  position:absolute;
  right:-80%;top:0px;
  z-index:100;
  padding:20% 3% 0% 5%;
  box-sizing: border-box;/* 패딩, 테두리값을 전체크기에 포함하여 계산 */
}
.gnb > ul{}
.gnb > ul > li{
  margin-bottom: 20px;
}
.gnb > ul > li > a{
  font-size: 24px;
  font-weight: bolder;
}
.wrap_pos{
  right:80% !important;
}
.on{
  position:absolute !important;
  right:10px;top:10px;
  z-index:9999;
}

main{
  height:1800px;
  overflow:hidden;
}
.slide_wrap{
  width:100%; height:700px;
  position:relative;
}
.slide{
  width:300%;
  display:flex;
}
.slide> li{
  width: 100%;
}
.slide img{
  width: 100%;
}

footer{
  background:#333;
  color:#fff;
  text-align:center;
}
footer > address{
  line-height:60px;
  font-style:normal;
}